<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForaLife.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A1735942A3B93D5006D713C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1735A42A3B93D6006D713C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1735AE2A3B93D7006D713C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
